---
spring:
  datasource:
    url: jdbc:mysql://localhost/lazydemo?createDatabaseIfNotExist=true&useSSL=false&useLegacyDatetimeCode=false&serverTimezone=Europe/Berlin
    username: root
    password:
  jpa:
    show-sql: true
    properties:
      generate-ddl: true
      database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
      format_sql: true
  autoconfigure:
    exclude:

management:
  info:
    git:
      mode: simple
logging:
  level:
    root: INFO
    de.oglimmer: DEBUG
    org.hibernate.SQL: DEBUG
#    org.hibernate.type: TRACE
#    org.apache.tomcat: INFO
#    org.apache.catalina: INFO
#    com.zaxxer: INFO
#    org.hibernate.engine.internal.StatefulPersistenceContext: TRACE

